<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealDishMapper">


    <!--    参数为Long星数组，需要动态sql拼接查询-->
    <select id="getSetmealIdsByDishId" resultType="java.lang.Long">
        select setmeal_id from setmeal_dish where dish_id in
        <foreach collection="dishIds" item="dishId" separator="," open="(" close=")">
            #{dishId}
        </foreach>
    </select>

    <!--    批量插入 套餐，菜品关联的数据-->
    <insert id="insertBatch">
        insert into setmeal_dish (copies,dish_id,name,price,setmeal_id) VALUES
        <foreach collection="dishes" item="dish" separator=",">
            (#{dish.copies},#{dish.dishId},#{dish.name},#{dish.price},#{dish.setmealId})
        </foreach>
    </insert>

</mapper>
